{
  "proto": "http",
  "domain": "120.24.161.191",
  "depth": 10,
  "ignores": [
    "/user/logout.php",
    "/user/delete.php?id=1",
    "/user/disable.php?id=1"
  ],
  "httpstatus_list": [],
  "login": {
    "enabled": true,
    "method": "post",
    "action": "/Login",
    "failure": "Password is incorrect",
    "fields": {
      "username": "gzsygj",
      "password": "ysj520"
    },
    "csrf": {
      "enabled": false,
      "field": "csrf"
    }
  },
  "spiderPage": {
    "requestUrl":"/Vio/list",
    "method":"POST",
    "requestParam": {
      "page": "1",
      "pageSize": "20"
    }
  },
  "store": {
    "enabled": false,
    "path": "./data"
  }
}
