{
	"proto": "http",
	"domain": "202.98.194.242:9091",
	"depth": 10,
	"ignores": [
		"/user/logout.php",
		"/user/delete.php?id=1",
		"/user/disable.php?id=1"
	],
	"httpstatus_list": [],
	"login": {
		"enabled": true,
		"method": "post",
		"action": "/login",
		"failure": "Password is incorrect",
		"fields": {
			"username": "admin",
			"password": "admin"
		},
		"csrf": {
			"enabled": false,
			"field": "csrf"
		}

	},
	"store": {
		"enabled": false,
		"path": "./data"
	}
}
